
/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, text-decoration { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
/*	font-size: 100%; */
	vertical-align: baseline; 
	background: transparent;
/*	font-size: 100%;*/
    box-sizing: border-box;
    transition-property: ease-in ease-in-out;
    transition-duration: .2s;
}

ol, ul { list-style: none;}
a {text-decoration: none; color: inherit;}
a:visited {color: inherit;}
:focus {outline: none}

body {
    line-height: 1.2em;
    position: relative;
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

}

*, *:before, *:after {
	box-sizing: border-box;
}




/* FONT */
@font-face {font-family: 'Relative-Mono'; src: url(../fonts/Relative-Mono-10-Pitch.otf);}
@font-face {font-family: 'Relative-Book'; src: url(../fonts/Relative-Book.otf);}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/
    v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) 
  format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 1;
  position: relative;
  top: 4px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


body {font-family: 'Relative-Mono', sans-serif;
    font-weight: normal;
}

h1  {
	font-size: 4em;
	font-family: 'Relative-Book', serif;
    line-height: 1em;
    margin-bottom: 8px;
    margin-top: -4px;
    font-weight: normal;
}

nav h1 {margin-bottom: 0em;}

h2  {
	font-size: .9em;
	font-family: 'Relative-Mono', sans-serif;
    letter-spacing: 0px;
    text-transform: uppercase;
    line-height: .9em;
    font-weight: normal;
    margin-bottom: 20px;
}

h3  { 
	font-size: .9em; /*20px*/
	font-family: 'Relative-Mono', sans-serif;
	color: #000;
	display: block;
	clear: both;
	/*margin-top: 20px;*/
}

h3 div {
	width: 30px;
	height: 10px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	opacity: 1;
}

h4 {
    font-size: .9em;
    font-family: 'Relative-Mono', 'Courier', sans-serif;
    color: #000;
    display: block;
    clear: both;
    text-transform: uppercase;
    margin-bottom: 5px;
}

p {
	font-size: .9em;
	font-family: 'Relative-Mono', sans-serif;
	line-height: 1.2;
	margin-bottom: 20px;
}

#top-bar a {
    font-size: .9em;
}

.project-grid h4 {
    margin-top: 20px;
    margin-bottom: 3px;
}

.project-grid h1 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 2em;
}

.project-grid p {
    margin-bottom: 5px;
}


/*dropdown hover*/
/*.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 90px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none !important;
    position: relative;
    width: 90px;
    background-color: transparent;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1px;
    text-decoration: none;
    display: block;
}

.dropdown-content-info {
    display: none !important;
    position: relative;
    width: 90px;
    background-color: transparent;
    z-index: 1;
}

.dropdown-content-info a {
    color: #fff;
    padding: 1px;
    text-decoration: none;
    display: block;
}



.dropdown:hover .dropdown-content {
    display: block !important;
    clear: both;
}

.dropdown:hover .dropdown-content-info {
    display: block !important;
    clear: both;
}
*/




.underline {padding:1px; border-bottom: solid black 1px;}

.underline-home {padding:1px; border-bottom: solid #D732FF 1px;}
.underline-home:hover {padding:1px; background-color: #D732FF;}

.underline-love {padding:1px; border-bottom: solid #FF22CB 1px;}
.underline-love:hover {padding:1px; background-color: #FF22CB;}

.underline-money {padding:1px; border-bottom: solid #1FEA84 1px;}
.underline-money:hover {padding:1px; background-color: #1FEA84;}

.underline-haus {padding:1px; border-bottom: solid #FF3F2B 1px;}
.underline-haus:hover {padding:1px; background-color: #FF3F2B;}


.underline-aha {padding:1px; border-bottom: solid #BF4ABE 1px;}
.underline-aha:hover {padding:1px; background-color: #BF4ABE;}


.underline-assembly {padding:1px; border-bottom: solid #3246C8 1px;}
.underline-assembly:hover {padding:1px; background-color: #3246C8;}


.underline-ninja {padding:1px; border-bottom: solid #ff343a 1px;}
.underline-ninja:hover {padding:1px; background-color: #ff343a;}


.underline-exposure {padding:1px; border-bottom: solid #00FF00 1px;}
.underline-exposure:hover {padding:1px; background-color: #00FF00;}


.underline-typeface {padding:1px; border-bottom: solid #00B3C7 1px;}
.underline-typeface:hover {padding:1px; background-color: #00B3C7;}


.underline-illustration {padding:1px; border-bottom: solid #D993B7 1px;}
.underline-illustration:hover {padding:1px; background-color: #D993B7;}


.underline-lettering {padding:1px; border-bottom: solid #FF5967 1px;}
.underline-lettering:hover {padding:1px; background-color: #FF5967;}


.underline-logo {padding:1px; border-bottom: solid #FFD000 1px;}
.underline-logo:hover {padding:1px; background-color: #FFD000;}





.line-divide {
    height: 0px;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100px; 
}




.link {
    font-size: .9em;
    font-family: 'Relative-Mono', sans-serif;
	line-height: 1.2;
	padding: 1px;
    margin-bottom: 200px;
	border-bottom: 1px solid;
	transition-property: ease-in ease-in-out;
	transition-duration: .2s;
}


.link-foundry {
    /*text-align: center;*/
    font-weight: normal;
    line-height: 1.2;
    transition-property: ease-in ease-in-out;
    transition-duration: .2s;
}


#top-bar {
    width: 100%;
    padding: 20px 50px 20px 50px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    /*box-shadow: 0px 0px 5px rgba(0,0,0,.1);*/

}

#top-bar-info {
    width: 100%;
    color: #ffffff !important;
    padding: 20px 50px 20px 50px;
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 10;
    background-color: black;
/*    box-shadow: 0px 0px 5px rgba(0,0,0,.1);*/

}


#top-bar div {
    width: 33.33%;
    position: relative;
    display: inline-block;
    float: left;
}

#top-bar-info {
    font-size: .9em;
}

.info-button {
    float: right;
    text-align: right;
}

.info-button-info {
    color: white !important;
    float: right;
    text-align: right;
}

.logo {
    z-index: 99;
    float: left;
    text-align: left;

}

.logo ul{
    list-style: inline;
}

.logo li {
    display: inline;
}
 
.logo li a {
   padding: 1px;
}


.header h1, h2 {color: #000;}

#intro {
    padding-top: 22%;
    position: relative; 
    width: 100%;
    height: 100vh;
    text-align: center;
}


#intro h1 {
    font-family: 'Relative-Book', sans-serif;
    letter-spacing: .3px;
    color: #000;
    font-size: 2.5em;
    margin-bottom: 20px;
    z-index: 1000;
    text-transform: none;
}
}

#intro-love {
    padding-top:200px;
    padding-bottom: 200px;
    position: relative; 
    width: 100%;
    height: ;
    text-align: center;
}

#intro-love h1 {
    font-family: 'Relative-Book', sans-serif;
    letter-spacing: .3px;
    color: #000;
    font-size: 2.5em;
    margin-bottom: 20px;
    z-index: 1000;
    text-transform: none;
}




/* Clearfix*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}




/* Floats */
.float-right {float: right}
.float-left {float: left;}




/* LAYOUT */
section {max-width: 100%;}

.header {
	height: 100vh;
	position: relative;
}

.block {
	max-width: 100%;
	margin: 0;
	padding: 0; 
	position: relative;
}

.row {
	max-width: 100%;
    padding: 0 50px 50px 50px;
}

.centered-vert {
  position: absolute;
  margin-left: 100px;
  top: 50%;
  transform: translateY(-60%);
}

.centered-horiz {
    margin: 0 auto;
    width:100%;
}


/*columns*/

.col-1 {width: calc(8.33% - 25px); margin-right: 50px; margin-bottom: 0px}
.col-2 {width: calc(16.66% - 25px); margin-right: 30px; margin-bottom: 0px}
.col-3 {width: calc(25% - 25px); margin-right: 50px; margin-bottom: 0px}
.col-4 {width: calc(33.33% - 25px); margin-right: 50px; margin-bottom: 0px}
.col-5 {width: calc(41.66% - 25px); margin-right: 30px; margin-bottom: 0px}
.col-6 {width: calc(50% - 25px); margin-right: 50px; margin-bottom: 0px}
.col-7 {width: calc(58.33% - 25px); margin-right: 30px; margin-bottom: 0px}
.col-8 {width: calc(66.66% - 25px); margin-right: 50px; margin-bottom: 0px}
.col-9 {width: calc(75% - 30px); margin-right: 50px; margin-bottom: 0px}
.col-10 {width: calc(83.33% - 25px); margin-right: 30px; margin-bottom: 0px}
.col-11 {width: calc(91.66% - 25px); margin-right: 30px; margin-bottom: 0px}
.col-12 {width: 100%; margin-right: 0; margin-bottom: 0px}


.image-hover {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0;  
    z-index: 10000;
    box-shadow: ;
    transition-property: ease-in ease-in-out;
    transition-duration: .1s;
}

.image-hover:hover {
    box-shadow:-5px 5px 0px 0px rgba(255,255,255,1);
    top:-5px;
    left:5px;}

.image-hover-haus:hover{
    box-shadow:-5px 5px 0px 0px rgba(255,63,43,1);
    top:-5px;
    left:5px;}

.image-hover-ass:hover {
    box-shadow:-5px 5px 0px 0px rgba(50,70,200,1);
    top:-5px;
    left:5px;}

.image-hover-aha:hover {
    box-shadow:-5px 5px 0px 0px rgba(191,74,190,1);
    top:-5px;
    left:5px;}

.image-hover-exp:hover{
    box-shadow:-5px 5px 0px 0px rgba(0,0,0,1);
    top:-5px;
    left:5px;}

.image-hover-typ:hover  {
    box-shadow:-5px 5px 0px 0px rgba(0,179,199,1);
    top:-5px;
    left:5px;}

.image-hover-illu:hover {
    box-shadow:-5px 5px 0px 0px rgba(217,147,183,1);
    top:-5px;
    left:5px;}

.image-hover-letter:hover  {
    box-shadow:-5px 5px 0px 0px rgba(255,89,103,1);
    top:-5px;
    left:5px;}

    .image-hover-logo:hover  {
    box-shadow:-5px 5px 0px 0px rgba(255,208,0,1);
    top:-5px;
    left:5px;}





.image {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0;  
    z-index: 10000;
}

.image-intro {
    position: absolute;
    top: 13vh;
    right: 40%;
    left: 43%;
    height: 70vh;
    float: right;
    z-index: -1;
}





.no-right-margin {
    margin-right: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-top-margin {
    margin-top: 0;
}



/*PROJECTS*/

.info-block {
    position: relative;
    max-width: 100vw;
    margin: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #000;
}

.info-block h1 {
    margin-top: -16px;
}

.project-intro {
	float: right;
	max-width: 50%;
    margin-bottom: 30px;
    padding-left: 25px;
}

.project-intro p {
    margin-bottom: 30px;
}

a .link {
    margin-bottom: 30px !important;
}

/*.project-intro .heading {
    float: left;
    width: 49%;
    display: inline;
    /*clear: both;*/
.heading {
    max-width: 50%;
    display: inline-block;
    position: relative;
}

.project-deliverables {
    margin-top: 18px;
	float: left;
/*	width: 50%;*/
}

.project-deliverables li {
    font-size: .9em;
    font-family: 'Relative-mono', sans-serif;
	margin-bottom: 20px;
    display: inline-block;
    width: 190px;
    margin-left: -8px;
}

.project-icons {
    float: left;
    text-align: left;
    display: inline-block;
    max-height: 20px;
    max-width: 29px;
    margin-right: 6px;
    margin-top: -1px;
}


.case-nav a {
    font-size: .9em;
}



.prev {text-align: left; float: left;}
.all {text-align: center; float: left;}
.next {text-align: right; float: right;}



.case-nav .line-divide {
    width: 100%;
}


.credits {
    padding-top: 0px;
    padding-bottom: 0px;
/*    border-top: 1px solid #000;
    border-bottom: 1px solid #000;*/
    /*margin-bottom: 40px;*/
    margin-top: 0px;
}

.credits p {
    font-family: 'Relative-mono', sans-serif;
    letter-spacing:     ;
    text-transform: ;
    line-height: 1.4em;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: .9em;
    text-align: center;
}



/*Header Images*/

.header {
    margin: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

#haus .header {background-image: url(bg/header-haus.jpg)}
#aha .header {background-image: url(bg/header-aha.jpg)}
#exposure .header {background-image: url(bg/header-exposure.jpg)}
#assembly .header {background-image: url(bg/header-assembly.jpg)}
#typefaces .header {background-image: url(bg/header-typefaces.jpg)}
#science .header {background-image: url(bg/header-science.jpg)}
#illustrations .header {background-image: url(bg/header-illustrations.jpg)}
#specarc .header {background-image: url(bg/header-specarc.jpg)}
#ninja .header {background-image: url(bg/header-esp2.jpg)}


/* COLOUR */


#ninja .header {background-color: #ff343a;}

.black-text {color: #000;}
.white-text {color: #fff}

.credits-bg {background-color: #f8f8f8;}

.haus-orange-text {color: #FF3F2B;}
.haus-orange-bg {background-color: #FF3F2B;}

#haus .header { background-color: #FF3F2B; }
#haus .link {border-color: #FF3F2B;}
#haus .link:hover {background-color: #FF3F2B;}
#haus .circle {border-color: #FFf;}
#haus .link-arrow {border-color: #000;}
#haus .row-divide {border-color: #FFf;}
#haus .caption-line {border-color: #FF3F2B;}
#haus .flickity-prev-next-button .arrow {fill: #FF3F2B;}


.aha-pearl-text {color: #BF4ABE;}
.aha-pearl-bg {background-color: #BF4ABE;}

#aha .header { background-color: #BF4ABE; }
#aha .image-text-box { padding-top: 0px; }
#aha .link {border-color: #BF4ABE;}
#aha .link:hover {background-color: #BF4ABE;}
#aha .link-arrow {border-color: #000;}
#aha .circle {border-color: #fff;}
#aha .row-divide {border-color: #BF4ABE;}
#aha .caption-line {border-color: #BF4ABE;}
#aha .flickity-prev-next-button .arrow {fill: #BF4ABE;}


.exposure-green-text {color: #00FF00;}
/*#exposure .info-block {background-color: #00ff00; color:#000;}*/
#exposure h2 {color:#000;}
.exposure-green-bg {background-color: #00FF00;}
#exposure .header { background-color: #00FF00;}
/*#exposure .link-foundry:hover {color: #00FF00;}
*/#exposure .link {border-color: #000;}
#exposure .link:hover {background-color: #00FF00;}
#exposure .link-arrow {border-color: #000;}
#exposure .circle {border-color: #000;}
#exposure .row-divide {border-color: #00FF00;}
#exposure .caption-line {border-color: #00FF00;}
#exposure .flickity-prev-next-button .arrow {fill: #000;}


.assembly-blue-text {color: #3246C8;}
.assembly-blue-bg {background-color: #3246C8;}
/*#assembly .info-block {background-color: #3246C8; color:#fff;}*/
#assembly .header { background-color: #3246C8;}

#assembly .link {border-color: #3246C8;}
#assembly .link:hover {background-color: #3246C8;}

#assembly .link-arrow {border-color: #fff;}
#assembly .circle {border-color: #fff;}
#assembly .row-divide {border-color: #3246C8;}
#assembly .caption-line {border-color: #3246C8;}
#assembly .flickity-prev-next-button .arrow {fill: #3246C8;}


.typefaces-teal-text {color: #00B3C7;}
.typefaces-teal-bg {background-color: #00B3C7;}
/*#typefaces .info-block {background-color: #00B3C7; color:#fff;}
*/#typefaces .header { background-color: #00B3C7; }
#typefaces .link:hover {opacity: .5;}
/*#typefaces .link-foundry:hover {color: #00B3C7;}
*/#typefaces .link {border-color: #00B3C7;}
#typefaces .link-arrow {border-color: #fff;}
#typefaces .circle {border-color: #00B3C7;}
#typefaces .row-divide {border-color: #00B3C7;}
#typefaces .caption-line {border-color: #00B3C7;}
#typefaces .flickity-prev-next-button .arrow {fill: #00B3C7;}


.illustrations-pink-text {color: #D993B7;}
.illustrations-pink-bg {background-color: #D993B7;}
/*#illustrations .info-block {background-color: #D993B7; color:#000;}
*/#illustrations h2 {color:#000;}
#illustrations .header { background-color: #D993B7; }
#illustrations .link:hover {color: #D993B7;}
#illustrations .link-foundry:hover {color: #D993B7;}
#illustrations .link {border-color: #D993B7;}
#illustrations .link-arrow {border-color: #D993B7;}
#illustrations .circle {border-color: #D993B7;}
#illustrations .row-divide {border-color: #D993B7;}
#illustrations .caption-line {border-color: #D993B7;}
#illustrations .flickity-prev-next-button .arrow {fill: #D993B7;}

.lettering-pink-text {color: #FF5967;}
.lettering-pink-bg {background-color: #FF5967;}
/*#lettering .info-block {background-color: #FF5967; color:#000;}
*/#lettering h2 {color:#000;}
#lettering .header { background-color: #FF5967; }
#lettering .link:hover {color: #FF5967;}
#lettering .link-foundry:hover {color: #FF5967;}
#lettering .link {border-color: #FF5967;}
#lettering .link-arrow {border-color: #FF5967;}
#lettering .circle {border-color: #FF5967;}
#lettering .row-divide {border-color: #FF5967;}
#lettering .caption-line {border-color: #FF5967;}
#lettering .flickity-prev-next-button .arrow {fill: #FF5967;}

.logos-pink-text {color: #FFD000;}
.logos-pink-bg {background-color: #FFD000;}
/*#logos .info-block {background-color: #FFD000; color:#000;}
*/#logos h2 {color:#000;}
#logos .header { background-color: #FFD000; }
#logos .link:hover {color: #FFD000;}
#logos .link-foundry:hover {color: #FFD000;}
#logos .link {border-color: #FFD000;}
#logos .link-arrow {border-color: #FFD000;}
#logos .circle {border-color: #FFD000;}
#logos .row-divide {border-color: #FFD000;}
#logos .caption-line {border-color: #FFD000;}
#logos .flickity-prev-next-button .arrow {fill: #FFD000;}



/*Footer*/

.footer {
    margin-top: 0px;
    color: #999;
    background: #000;
    width: 100%;
    padding: 60px 0 30px 0;
    /*height: 100vh;*/
    z-index: 100000;
}



.footer-link {
    display: block;
    position: relative;
/*    bottom: 50px;*/
    float: right;
    margin-left: 20px;
    border-bottom: solid #999 1px;
    font-size: .9em;
}

.footer-name {
    width: 49%;
    float: left;

}

.footer-links {
    width: 50%;
    float: right;
    z-index: 100;
}




.hide {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#work {
    padding-top: 68px;
}


